.discussoes{
    transition: 0.2s;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    width: 92%;
    border: #ECECEC 1px solid;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 50px
}

.discussoes-header{
    background-color: #FDF1EB;
    display: flex;
    align-items: center;
    width: 100%;
    height: 45px;
    min-height: 45px;
    padding-left: 20px;
    font: Roboto;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
}

.discussoes-body{
    width: 100%;
    padding: 20px;
    height: 100%;
}

.discus-body-sect1{
    display: flex;
    flex-direction: column;
    width: 97%;
    border-bottom:#E7E7E7 1px solid; ;
}

.discus-body-sect1-txt1{
    margin: auto;
    font: Roboto;
    color:#ED7839 ;
    font-weight: 700;
    font-size: 18px;
    line-height: 21.9px;
}

.discus-body-sect1-imgs{
    display: flex;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 40%;
}

.discus-body-sect1-imgs > img{
    margin: auto;
}

.img{
    width: 55.26px;
    height: 55.26px;
}

.discus-body-sect1-txt2{
    display: flex;
    margin: auto;
    width: 55%;
    color: #595959;
    text-align: center;
    font: Quicksand;
    font-weight: 400;
    font-size: 14px;
    line-height: 19.25px;
}

.criar-tópico-btn{
    margin-right: auto;
    margin-left: auto;
    margin-top: 1.5%;
    margin-bottom: -1.5%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 133px;
    height: 32px;
    border-radius: 4px;
    border: 0;
    color: white;
    background: linear-gradient(180deg, #FEB254 0%, #F0813D 100%);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.12), 0px 2px 2px rgba(0, 0, 0, 0.24);
    cursor: pointer;
}

.plusicon{
    width: 20px;
    height: 20px;
    margin-right: 10px;
}


 /*                                       CRIAR NOVO TOPICO                                                            */
.create-new-topic{
    transition: 0.2ms;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.create-new-topic-txt1{

    text-align: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 17.5px;
    color: #5C5C5C;
}

.assunto-conteudo-txt{
    font-weight: 700;
    font-size: 18px;
    line-height: 18.75px;
    color: #ED7839;
    margin-bottom: 5px;
    margin-top: 5px;
}

.assunto-input{
    height: 39px;
    border: #CCCCCC solid 1px;
    border-radius: 4px;
    padding-left: 10px;
    margin-bottom: 15px;
}

.conteudo-content{
    width: 100%;
    overflow: hidden;
    border: #CCCCCC solid 1px;
    border-radius: 4px;
    margin-bottom: 30px;
}

.conteudo-input{
    width: 100%;
    height: 85px;
    border: none;
    padding: 2px;
    margin-bottom: 0px;
    resize: none;
    font-size: 16px;
}
.conteudo-input:focus{
    outline: none;
    border: none;
}

.enviar-div{
    width: 100%;
    height: 31px;
    display: flex;
    border: 1px solid #CCCCCC;
    border-radius: 0 0 4px 4px;
    background-color: #EAF1F2;
}

.enviar-div > img{
    width: 13.34px;
    height: 11px;
    margin: 3%;
    margin-top: auto;
    margin-bottom: auto;
    cursor: pointer;
}

.enviar-tópico-btn{
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    height: 32px;
    border: 0;
    color: white;
    font-size: 15px;
    background: linear-gradient(180deg, #FEB254 0%, #F0813D 100%);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.12), 0px 2px 2px rgba(0, 0, 0, 0.24);
    cursor: pointer;
}
 /*                                       CRIAR NOVO TOPICO                                                            */
 
 
 /*                                             TOPICO                                                            */

.discus-body-sect2{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    width: 97%;
}

.topics{
    cursor: pointer;
    background: #FFFFFF;
    border: 1px solid #E7E7E7;
    box-sizing: border-box;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    margin-top: 20px;
   
}

.topics-default{
    padding-left: 15px;
    padding-right: 15px;
}

.topics-txt1{
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    color: #ED7839;
    margin-bottom: 0;
}

.topics-txt2{
    font-weight: 500;
    font-size: 14px;
    line-height: 15px;
    color: #5C5C5C;
    margin-top: 5px;
    margin-bottom: 0;
}

.topics-txt3{
    font-weight: 300;
    font-size: 16px;
    line-height: 17px;
    color:#4D4D4D;
    margin-top: 10px;
}

.topics-btm-itms{
    display: flex;
    margin-bottom: 20px;

}

.topics-menu-btn{
    color: #ED7839;
    height: 20px;
    width: 20px;
}

.topics-like-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ED7839;
    color: white;
    border: none;
    border-radius: 4px;
    width: 27px;
    height: 21px;
    margin-left: 10px;
}

.topics-btm-itms-txt{
    margin: 0;
    margin-left: 15px;
    font: Segoe Ui;
    font-weight: 350;
    font-size: 14px;
    line-height: 18.62px;
    color: #757575;
}
 /*                                             TOPICO                                                            */
 
 
 /*                                             TOPICO  EXTENDED                                                   */
 .extended-rectangle1{
    border: 1px solid #E7E7E7;
    background-color: #F8F8F8;
    padding-left: 15px;
    padding-right: 15px;
 }
 .extended-rectangle2{
    padding-left: 15px;
    padding-right: 15px;
 }
 .rectangle1-header{
     display: flex;
 }
 .header-name{
    margin: 0;
    margin-right: auto;
    margin-top: 10px;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
 }
 .header-tittle{
    margin: 0;
    margin-top: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 17.5px;
    color: #ED7839;
    margin-right: 20px;
}
.header-check{
    margin-top: 10px;
    margin-left: 20px;
    color: #ED7839;
}
.rectangle-body{
    margin-top: 10px;
}
.rectangle-body > p{
    font-weight: 400;
    font-size: 14px;
    line-height: 17.5px;
    color: #4D4D4D;
}
 /*                                             TOPICO  EXTENDED                                                    */


@media only screen and (max-width: 1200px) {
    .discussoes{
        width: 100%;
    }

    .discussoes-body{
        padding: 0%;
        padding-top: 20px;
    }

    .discus-body-sect1{
        margin: 0px;
        margin-left: auto;
        margin-right: auto;
        width: 97%;
    }

    .discus-body-sect1-txt1{
        text-align: center;
    }

    .discus-body-sect1-imgs{
        width: 100%;
    }

    .discus-body-sect1-txt2{
        width: 90%;
    }

    .criar-tópico-btn{
        margin-top: 15px;
        margin-bottom: -15px;
    }

    .discus-body-sect2{
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 15px;
        width: 98%;
    }

    
}