
.top-content{
    display: flex;
    margin-top: 20px;
    margin-right: 50px;
    width: 92%;
    height: 600px;
    overflow: hidden;
}

.video-content{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-right: 50px;
}

.video-content-txt{
    background-color: transparent;
    max-width: 100%;
}
.video-content-txt > p {
    font-weight: 900, bold;
    font-size: 20px;
    color: #ED7839;
}


.video{
    display: flex;
    max-width: 100%;
    overflow: hidden;
    border-radius: 5px;

}
.video-img{
    width: 100%;
}
.video-overlay{
    width: 100%;
    margin-left: -100%;
}

.video-details{
    width: 100%;
    margin-left: -100%;
    background-color: transparent;
    display: flex;
    flex-direction: column;
}

.video-details-top{
    color: white;
    font: Roboto;
    font-weight: 500;
    font-size: 2vw;
    line-height: 2vw;
    padding: 50px;
    padding-top: 20px;
}

.video-details-btm{
    display: flex;
    padding: 50px;
    margin-top: auto;
    cursor: pointer;
}

.video-details-btm-img{
    border-radius: 50%;
}
.video-details-btm-txt-cont{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 20px;
}
.video-details-btm-txt1{
    font: Roboto;
    font-weight: 550;
    font-size: 2.5vw;
    line-height: 2.5vw;
    color: white;
    padding: 0;
    margin: 0;
}
.video-details-btm-txt2{
    font: Roboto;
    font-weight: 400;
    font-size: 1.8vw;
    line-height: 1.8vw;
    color: white;
    padding: 0;
    margin: 0;
}

.details-download-div{
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    width: 20%;
    min-width: 220px;
    height: 38vw;
}

.details-download-btns-div{
    width: 100%;
    display: flex;

}

.download-btn{
    display: flex;
    align-items: center;
    width: 60%;
    margin: auto;
    background: #ED7839;
    height: 31px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: white;
    font: Roboto;
    font-size: 16px;
    font-weight: 300;
}
.download-btn:hover{
    background: linear-gradient(180deg, #FFB354 0%, #EE7A3A 100%);
}

.download-icon{
    width: 19px;
    height: 19px;
    margin-left: 15px;
    margin-right: 5px;
}

.star-btn{
    width: 17%;
    margin: auto;
    color: white;
    background: #ED7839;
    height: 31px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font: Roboto;
    font-size: 16px;
    font-weight: 300;
}
.star-btn > *{
    width: 19px;
    height: 19px;
}
.star-btn:hover{
    background: linear-gradient(180deg, #FFB354 0%, #EE7A3A 100%);
}
.joi-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 17%;
    margin: auto;
    background: #ED7839; 
    height: 31px;
    border: none;
    border-radius: 4px;
    cursor: pointer;   
}
.joi-btn:hover{
    background: linear-gradient(180deg, #FFB354 0%, #EE7A3A 100%);
}

.citação{
    font: Roboto;
    font-weight: 500;
    font-size: 14px;
    color: #ED7839 ;
    margin-right: auto;
    margin-left: auto;
}

.detalhes{
    height: 84%;
    border: #ECECEC 1px solid;
    border-radius: 5px;
    overflow: hidden;
}

.detalhes1::-webkit-scrollbar{
    width: 5px;
    background-color: #ED7839;
}
.detalhes-header{
    background-color: #FDF1EB;
    display: flex;
    align-items: center;
    width: 100%;
    height: 45px;
    padding-left: 20px;
    font: Roboto;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
}
.detalhes-body{
    height: 100%;
    overflow-y:scroll;
    padding-left: 20px;
    padding-top: 15px;
}
.detalhes-body::-webkit-scrollbar{
    width: 3px;
    height: 90%;
}
.detalhes-body::-webkit-scrollbar-thumb {
    width: 3px;
    height: 5   0%;
    background-color: #BFBFBF;
  }
.detalhes-body::-webkit-scrollbar-track {
    width: 3px;
    background-color: #E7E7E7;
}
.detalhes-body-txt{
    color: #5C5C5C;
    font-size: 12px;
    font-weight: 400;
    padding: 0;
    margin: 0;
    margin-top: 5px;
}
.detalhes-body-txt-schools{
    margin: 0;
    margin-bottom: 500px;
    padding: 0;
    
}
.detalhes-body-txt-schools  > *{
    font-weight: 100;
}
@media only screen and (max-width: 1200px) {
    .top-content{
        flex-direction: column;
        width: 100%;
        height: 100%;
    }
    .video-content{
        width: 100%;
    }
    .video-details-top{
        font-size: 2.5vw;
        line-height: 2.5vw;
    }
    .details-download-div{
        width: 100%;
        margin-top: 30px;
    }
    .download-btn > p{
        margin-right: auto;
    }
    .download-icon{
        margin-left: auto;
        margin-right: 5px;
    }
    .details-download-div{
        height: 300px;
    }
}