.content{
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;
    overflow: hidden;
}
.content::-webkit-scrollbar{
    display: none;
}

@media only screen and (max-width: 1200px) {
    .content{
        padding: 10px;
        width: 95%;
    }
}